*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  
}

body, input, textarea, select, button{
  font: 400 1rem "Roboto", sans-serif; 
}

button{
  cursor: pointer;
}

a{
  color: darkcyan;
  text-decoration: none;
}       