*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 900px){
  html{
    font-size: 81.25%;
  }
}

body{
  height: 100%;
  width: 100%;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,121,9,0.9472163865546218) 100%, rgba(0,212,255,1) 100%);
}

body, input, textarea, select, button{
  font: 400 1rem "Roboto", sans-serif; 
}

button{
  cursor: pointer;
}

a{
  color: darkcyan;
  text-decoration: none;
}       