.container{
  width: 100%;
  height: 100vh;
  display: flex;
}
.sidebarContent{
  width: 20%;
  border: 1px solid rgba(19,121,9,0.9472163865546218);
}
.content{
  width: 80%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px){
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(19,121,9,0.9472163865546218) 100%, rgba(0,212,255,1) 100%);
}
.sidebarContent{
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
.content{
  width: 100%;
  height: 80vh;
  overflow: scroll;
}
}
/*
.text{
  text-align: center;
  align-items: center;
  p{
    color: 	#383838;
    font-weight: 1.5rem;
    font-size: 1.5rem;
  }
  p + p{
    margin-top: 1.5rem;
  }
}*/


