.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    margin-left: 2rem;
    color: #FFF;
  }
  button{
    border: none;
    background: none;
  }
}
@media screen and (max-width: 900px){
  .container{
    width: 70%;

    margin-left: 2rem;
    span{
      font-size: 10px;
    }
    button{
      font-size: 10px;
      border: none;
      background: none;
    }
  }
}